################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.db
*.db-shm
*.db-wal
*.opendb
/.vs/projet poo/FileContentIndex/0a2c8c29-4900-41a3-8b15-9a7b38a67ad9.vsidx
